.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.center {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.container1 {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  max-height: 806px;
  background: #eff0f2;
}
.container1 .header {
  padding-top: 64px;
}
.container1 .header a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #00202b;
  border: 6px solid #00202b;
  text-transform: uppercase;
  padding: 8px 6px 8px 6px;
  text-align: center;
  text-decoration: none;
}
.container1 .header a span {
  font-size: 21px;
  color: #61e3e7;
}
.container1 .header .burger {
  display: inline-block;
  float: right;
}
.container1 .header .burger i {
  display: block;
  width: 30px;
  height: 4px;
  margin: 3px;
  background: #4f6e7a;
}
.container1 .header .menu {
  float: right;
  background: #61e3e7;
  border: 1px solid #4f6e7a;
  display: none;
}
.container1 .header .show {
  display: inline-block;
}
.container1 .title {
  text-align: center;
  padding-top: 205px;
}
.container1 .title h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #505050;
  text-transform: uppercase;
}
.container1 .title h2 span {
  background: #b2f2ee;
  padding: 0px 20px 0px 5px;
  margin: auto;
}
.container1 .title .button {
  padding-top: 150px;
}
.container1 .title .button a {
  font-family: 'Montserrat', sans-serif;
  font-size: 400;
  size: 18px;
  color: #3c3c3d;
  padding: 18px 45px 18px 45px;
  border: 2px solid #777879;
  text-decoration: none;
  text-transform: uppercase;
}
.container1 .title .image1 {
  float: right;
  padding-right: 125px;
}
.container1 .title .image1 img {
  width: 100%;
  max-width: 68px;
  height: 100%;
  max-height: 86px;
}
.container2 {
  width: 100%;
  max-width: 1440px;
  background: #f8fafa;
}
.container2 .subtitle2 {
  text-align: center;
  padding-top: 130px;
}
.container2 .subtitle2 h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #181919;
  text-transform: uppercase;
}
.container2 .subtitle2 p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 18px;
  color: #989999;
  text-transform: uppercase;
  margin: 0 auto;
}
.container2 .carousel {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 110px;
}
.container2 .carousel .carousel-inner img {
  width: 100%;
  max-width: 390px;
  height: 100%;
  max-height: 485px;
}
.container2 .carousel .carousel-indicators li {
  position: relative;
  right: 30px;
  bottom: 60px;
  background-color: #d0d0d0;
  width: 10px;
  height: 10px;
}
.container2 .carousel .carousel-indicators li:hover {
  background-color: #71f6eb;
}
.container2 .content1 {
  padding-top: 154px;
  margin: 0 auto;
}
.container2 .content1 h3 {
  padding-bottom: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
}
.container2 .content1 p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.container2 .content1 h4 {
  padding-bottom: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 17px;
}
.container3 {
  width: 100%;
  max-width: 1440px;
  background: #ffffff;
}
.container3 .subtitle3 {
  text-align: center;
  padding-top: 130px;
}
.container3 .subtitle3 h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  margin: 0 auto;
}
.container3 .subtitle3 p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #898989;
  padding-bottom: 125px;
}
.container3 .image2 {
  padding-bottom: 125px;
}
.container3 .image2 .image2_1 {
  display: inline-block;
  padding: 0px 8px 14px;
}
.container3 .image2 .image2_1 img {
  max-width: 370px;
  width: 100%;
}
.container4 {
  width: 100%;
  max-width: 1440px;
  background: #f9fbfb;
}
.container4 .subtitle4 {
  padding-top: 125px;
  margin: 0 auto;
  text-align: center;
}
.container4 .subtitle4 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.container4 .subtitle4 h4 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #898989;
  padding-bottom: 128px;
}
.container4 .boss {
  padding-bottom: 125px;
}
.container4 .boss .cart {
  padding: 0px 15px 15px 0px;
}
.container4 .boss .cart h5 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: #f7f7f7;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto;
}
.container4 .boss .cart p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #d4d4d4;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
}
.container4 .boss .cart span {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #d4d4d4;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}
.container4 .boss .cart span a {
  padding-left: 20px;
  margin: 0 auto;
}
.container4 .boss .cart .krest {
  margin: 0 auto;
  padding-top: 135px;
  display: none;
}
.container4 .boss #card1 {
  background-image: url(/img/PH1\,2CONT4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 185px;
  padding-bottom: 60px;
  padding-left: 65px;
}
.container4 .boss #card2 {
  background-image: url(/img/PH1\,2CONT4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 185px;
  padding-bottom: 60px;
  padding-left: 65px;
}
.container4 .boss #card3 {
  background-image: url(/img/PH3CONT4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 165px;
  padding-bottom: 60px;
  padding-left: 55px;
}
.container4 .boss #card4 {
  background-image: url(/img/PH4CONT4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 165px;
  padding-bottom: 60px;
  padding-left: 55px;
}
.container4 .boss #card5 {
  background-image: url(/img/PH5CONT4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 60px;
  padding-left: 55px;
}
.container4 .boss #card6 {
  background-image: url(/img/PH6CONT4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 60px;
  padding-left: 55px;
}
.container4 .boss #card1:hover {
  background: #71f6eb;
  padding-top: 60px;
  padding-bottom: 53px;
  padding-left: 65px;
}
.container4 .boss #card1:hover h5 {
  color: black;
}
.container4 .boss #card1:hover p {
  color: black;
}
.container4 .boss #card1:hover span {
  display: none;
}
.container4 .boss #card1:hover .krest {
  display: inline-block;
}
.container4 .boss #card2:hover {
  background: #71f6eb;
  padding-top: 60px;
  padding-bottom: 53px;
  padding-left: 65px;
}
.container4 .boss #card2:hover h5 {
  color: black;
}
.container4 .boss #card2:hover p {
  color: black;
}
.container4 .boss #card2:hover span {
  display: none;
}
.container4 .boss #card2:hover .krest {
  display: inline-block;
}
.container4 .boss #card3:hover {
  background: #71f6eb;
  padding-top: 60px;
  padding-bottom: 33px;
  padding-left: 65px;
}
.container4 .boss #card3:hover h5 {
  color: black;
}
.container4 .boss #card3:hover p {
  color: black;
}
.container4 .boss #card3:hover span {
  display: none;
}
.container4 .boss #card3:hover .krest {
  display: inline-block;
}
.container4 .boss #card4:hover {
  background: #71f6eb;
  padding-top: 60px;
  padding-bottom: 33px;
  padding-left: 65px;
}
.container4 .boss #card4:hover h5 {
  color: black;
}
.container4 .boss #card4:hover p {
  color: black;
}
.container4 .boss #card4:hover span {
  display: none;
}
.container4 .boss #card4:hover .krest {
  display: inline-block;
}
.container4 .boss #card5:hover {
  background: #71f6eb;
  padding-top: 60px;
  padding-bottom: 32px;
  padding-left: 65px;
}
.container4 .boss #card5:hover h5 {
  color: black;
}
.container4 .boss #card5:hover p {
  color: black;
}
.container4 .boss #card5:hover span {
  display: none;
}
.container4 .boss #card5:hover .krest {
  display: inline-block;
  padding-top: 100px;
}
.container4 .boss #card6:hover {
  background: #71f6eb;
  padding-top: 60px;
  padding-bottom: 32px;
  padding-left: 65px;
}
.container4 .boss #card6:hover h5 {
  color: black;
}
.container4 .boss #card6:hover p {
  color: black;
}
.container4 .boss #card6:hover span {
  display: none;
}
.container4 .boss #card6:hover .krest {
  display: inline-block;
  padding-top: 100px;
}
.container5 {
  width: 100%;
  max-width: 1440px;
  background: #ffffff;
}
.container5 .subtitle5 {
  padding-top: 125px;
  margin: 0 auto;
  text-align: center;
}
.container5 .subtitle5 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.container5 .subtitle5 h4 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #898989;
  padding-bottom: 128px;
}
.container5 .big_block {
  padding-bottom: 120px;
}
.container5 .big_block .big_block1 {
  background-image: url(/img/ph1cont5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 370px;
  height: 440px;
  margin: 0px 10px 10px 0px;
}
.container5 .big_block2 {
  background-image: url(/img/ph2cont5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 370px;
  height: 440px;
  margin: 0px 10px 10px 0px;
}
.container5 .big_block3 {
  background-image: url(/img/ph3cont5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 370px;
  height: 440px;
  margin: 0px 10px 10px 0px;
}
.container5 .big_block4 {
  background-image: url(/img/ph4cont5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 370px;
  height: 440px;
  margin: 0px 10px 10px 0px;
}
.container5 .big_block5 {
  background-image: url(/img/ph5cont5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 370px;
  height: 440px;
  margin: 0px 10px 10px 0px;
}
.container5 .big_block6 {
  background-image: url(/img/ph1cont5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 370px;
  height: 440px;
  margin: 0px 10px 10px 0px;
}
#big_block {
  margin-top: 165px;
  width: 335px;
  background-image: url(/img/cont5ram.png);
  padding-left: 40px;
  display: none;
}
#big_block h3 {
  padding-top: 65px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
}
#big_block h3 span {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 15px;
}
#big_block p {
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#big_block ul {
  padding-top: 10px;
  padding-bottom: 10px;
}
#big_block ul li {
  display: inline-block;
  font-size: 12px;
  padding-right: 16px;
}
.big_block1:hover #big_block,
.big_block2:hover #big_block,
.big_block3:hover #big_block,
.big_block4:hover #big_block,
.big_block5:hover #big_block,
.big_block6:hover #big_block {
  display: inline-block;
}
.container6 {
  width: 100%;
  max-width: 1440px;
  background: #f9fbfb;
}
.container6 .subtitle6 {
  padding-top: 125px;
  margin: 0 auto;
  text-align: center;
}
.container6 .subtitle6 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.container6 .subtitle6 h4 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #898989;
  padding-bottom: 140px;
}
.container6 .carousel .carousel-inner .carousel-item {
  padding-bottom: 200px;
}
.container6 .carousel .carousel-indicators li {
  background-color: #d0d0d0;
  width: 10px;
  height: 10px;
  position: relative;
  top: -110px;
  left: 70px;
}
.container6 .carousel .carousel-indicators li:hover {
  background-color: #71f6eb;
}
.container6 .carousel-fade {
  background: #eaebed;
  max-height: 380px;
  height: 100%;
}
.container6 .carousel-fade .carousel-item {
  text-align: center;
}
.container6 .carousel-fade .carousel-item h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
  color: #0c0c0c;
  padding-top: 100px;
}
.container6 .carousel-fade .carousel-item h3 span {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 15px;
  color: #8b8b8c;
}
.container6 .carousel-fade .carousel-item p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 33px;
}
.container6 .carousel-fade .carousel-item ul {
  list-style: none;
}
.container6 .carousel-fade .carousel-item ul li {
  display: inline-block;
}
.container6 .carousel-fade .carousel-control-prev {
  position: relative;
  top: -90px;
  left: 500px;
  padding: 20px 10px 20px 10px;
  background-color: #b2b2b2;
  border-radius: 3px;
}
.container6 .carousel-fade .carousel-control-prev:hover {
  background-color: #71f6eb;
}
.container6 .carousel-fade .carousel-control-next {
  position: relative;
  top: -150px;
  left: 650px;
  padding: 20px 10px 20px 10px;
  background-color: #b2b2b2;
  border-radius: 3px;
}
.container6 .carousel-fade .carousel-control-next:hover {
  background-color: #71f6eb;
}
.container7 {
  width: 100%;
  max-width: 1440px;
  background: #ffffff;
}
.container7 .lain1 {
  text-align: center;
  padding-top: 110px;
}
.container7 .lain1 div {
  display: inline-block;
  padding-right: 85px;
}
.container7 .lain1 div img {
  width: 110px;
  height: 60px;
}
.container7 .lain2 {
  padding-top: 45px;
  padding-bottom: 130px;
}
.container7 .lain2 div {
  display: inline-block;
  padding-right: 70px;
}
.container7 .lain2 div img {
  width: 110px;
  height: 60px;
}
.container8 {
  width: 100%;
  max-width: 1440px;
  background-image: url(/img/fon_footer.png);
}
.container8 .message {
  opacity: 0.6;
  background-color: #495862;
  padding-top: 45px;
  padding-bottom: 60px;
  padding-left: 35px;
  margin-top: 122px;
  margin-bottom: 122px;
  margin-right: 25px;
}
.container8 .message p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #b5bcc0;
  margin: 0 auto;
}
.container8 .message input {
  border: none;
  border-bottom: 1px solid #677681;
  opacity: 0.6;
  background-color: #495862;
  margin: 0 auto;
  height: 20px;
  width: 100%;
}
.container8 .message .mes p {
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #b5bcc0;
}
.container8 .message .mes input {
  border: none;
  border-bottom: 1px solid #677681;
  opacity: 0.6;
  background-color: #495862;
  margin: 0 auto;
  height: 120px;
  width: 100%;
}
.container8 .message .knopka {
  padding-top: 70px;
}
.container8 .message .knopka a {
  padding: 20px 40px;
  background-color: #6eeee4;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #26514e;
  letter-spacing: 4px;
}
.container8 .karta {
  opacity: 0.6;
  background-color: #495862;
  padding-top: 45px;
  padding-bottom: 60px;
  margin-top: 122px;
  margin-bottom: 122px;
}
.container8 .karta .text8 ul li {
  list-style: none;
}
.container8 .karta .text8 ul li a {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #c7ccd0;
  text-decoration: none;
}
.container8 .karta .text8 ul li:nth-child(5) {
  padding-top: 35px;
}
.container8 .karta .image8 {
  width: 100%;
  height: 220px;
  background-image: url(/img/GoogleMap2.png);
  margin: 0 auto;
  margin-top: 30px;
}
.container8 .karta .image8 img {
  width: 100%;
  height: 100%;
}
.container8 .karta .image8:hover img {
  display: none;
}
.container9 {
  width: 100%;
  max-width: 1440px;
  background: #262b2e;
}
.container9 .footer {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.container9 .footer h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #a6a8a9;
  text-transform: uppercase;
}
.container9 .footer ul {
  padding-top: 18px;
  margin-left: -30px;
}
.container9 .footer ul li {
  display: inline-block;
  margin-right: 8px;
}
.container9 .footer ul li a {
  font-size: 23px;
  padding: 10px 12px 10px 12px;
  background-color: #424648;
  text-decoration: none;
}
.container9 .footer ul li:nth-child(1) a {
  padding: 10px 16px 10px 16px;
}
.container9 .footer ul li:nth-child(3) a {
  padding: 10px 16px 10px 16px;
}
.container9 .footer p {
  padding-top: 42px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #6c6f71;
  margin-left: 15px;
}
.container9 .footer ul li:hover {
  background-color: #6eeee4;
}
@media (max-width: 1200px) {
  .container1 .title .image1 img {
    margin-top: -50px;
  }
  .container5 .big_block .big_block1,
  .container5 .big_block .big_block2,
  .container5 .big_block .big_block3,
  .container5 .big_block .big_block4,
  .container5 .big_block .big_block5,
  .container5 .big_block .big_block6 {
    width: 100%;
    max-width: 470px;
    height: 440px;
    margin: 0px 10px 10px 0px;
  }
  .carousel-fade {
    background: #eaebed;
    max-height: 380px;
    height: 100%;
  }
  .carousel-fade .carousel-item {
    text-align: center;
  }
  .carousel-fade .carousel-item h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
    color: #0c0c0c;
    padding-top: 100px;
  }
  .carousel-fade .carousel-item h3 span {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 15px;
    color: #8b8b8c;
  }
  .carousel-fade .carousel-item p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 33px;
  }
  .carousel-fade .carousel-item ul {
    list-style: none;
  }
  .carousel-fade .carousel-item ul li {
    display: inline-block;
  }
  .carousel-fade .carousel-control-prev {
    position: relative;
    top: -90px;
    left: 500px;
    padding: 20px 10px 20px 10px;
    background-color: #b2b2b2;
    border-radius: 3px;
  }
  .carousel-fade .carousel-control-prev:hover {
    background-color: #71f6eb;
  }
  .carousel-fade .carousel-control-next {
    position: relative;
    top: -150px;
    left: 650px;
    padding: 20px 10px 20px 10px;
    background-color: #b2b2b2;
    border-radius: 3px;
  }
  .carousel-fade .carousel-control-next:hover {
    background-color: #71f6eb;
  }
  .container6 .carousel-fade {
    max-height: 310px;
  }
  .container6 .carousel-fade .carousel-item {
    text-align: center;
  }
  .container6 .carousel-fade .carousel-item h3 {
    padding-top: 70px;
  }
  .container6 .carousel-fade .carousel-item p {
    padding-top: 33px;
  }
  .container6 .carousel-fade .carousel-control-prev {
    position: relative;
    top: -120px;
    left: 420px;
  }
  .container6 .carousel-fade .carousel-control-next {
    position: relative;
    top: -180px;
    left: 530px;
  }
  .container7 .lain1 div {
    padding-right: 45px;
  }
  .container7 .lain2 div {
    padding-right: 33px;
  }
}
@media (max-width: 992px) {
  .container1 .title .image1 img {
    margin-top: -100px;
  }
  .container1 .button {
    margin-top: -50px;
  }
  .container2 .carousel {
    margin-left: 160px;
  }
  .container2 .carousel .carousel-indicators li {
    position: relative;
    top: -40px;
    right: 5px;
  }
  .container2 .content1 {
    padding-top: 40px;
    margin: 0 auto;
  }
  .container5 .big_block {
    margin-left: 8%;
  }
  .container5 .big_block .big_block1,
  .container5 .big_block .big_block2,
  .container5 .big_block .big_block3,
  .container5 .big_block .big_block4,
  .container5 .big_block .big_block5,
  .container5 .big_block .big_block6 {
    width: 100%;
    height: 440px;
    margin: 0px 10px 10px 0px;
  }
  .container5 #big_block {
    width: 240px;
    padding-left: 15px;
  }
  .container5 #big_block h3 {
    padding-top: 65px;
    font-size: 15px;
  }
  .container5 #big_block h3 span {
    font-size: 12px;
  }
  .container5 #big_block p {
    font-size: 13px;
  }
  .container5 #big_block ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container5 #big_block ul li {
    display: inline-block;
    font-size: 12px;
    padding-right: 8px;
  }
  .container6 .carousel .carousel-inner .carousel-item {
    padding-bottom: 200px;
  }
  .container6 .carousel .carousel-indicators li {
    position: relative;
    top: -110px;
    left: 145px;
  }
  .container6 .carousel-fade {
    margin-bottom: 200px;
    max-height: 310px;
  }
  .container6 .carousel-fade .carousel-item {
    text-align: center;
  }
  .container6 .carousel-fade .carousel-item h3 {
    padding-top: 70px;
  }
  .container6 .carousel-fade .carousel-item p {
    padding-top: 33px;
  }
  .container6 .carousel-fade .carousel-control-prev {
    position: relative;
    top: -120px;
    left: 480px;
  }
  .container6 .carousel-fade .carousel-control-next {
    position: relative;
    top: -180px;
    left: 600px;
  }
  .container7 .lain1 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .container7 .lain1 div {
    padding-right: 45px;
  }
  .container7 .lain2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .container2 {
    text-align: center;
  }
  .container2 .carousel {
    margin-left: 60px;
  }
  .container2 .carousel .carousel-indicators li {
    position: relative;
    top: -40px;
    right: 60px;
  }
  .container2 .content1 {
    padding-top: 40px;
    margin: 0 auto;
  }
  .container5 .big_block {
    margin-left: 8%;
  }
  .container5 .big_block .big_block1,
  .container5 .big_block .big_block2,
  .container5 .big_block .big_block3,
  .container5 .big_block .big_block4,
  .container5 .big_block .big_block5,
  .container5 .big_block .big_block6 {
    width: 100%;
    height: 440px;
    margin: 0px 10px 10px 0px;
  }
  .container5 #big_block {
    width: 240px;
    padding-left: 15px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .container6 .subtitle6 {
    padding-top: 50px;
  }
  .container6 .subtitle6 h3 {
    font-size: 20px;
  }
  .container6 .subtitle6 h4 {
    font-size: 12px;
    padding-bottom: 60px;
  }
  .container6 .carousel .carousel-inner .carousel-item {
    padding-bottom: 100px;
  }
  .container6 .carousel .carousel-indicators li {
    position: relative;
    top: -30px;
    left: 110px;
  }
  .container6 .carousel-fade {
    margin-bottom: 200px;
    max-height: 310px;
  }
  .container6 .carousel-fade .carousel-item {
    text-align: center;
  }
  .container6 .carousel-fade .carousel-item h3 {
    padding-top: 60px;
  }
  .container6 .carousel-fade .carousel-item p {
    padding-top: 33px;
  }
  .container6 .carousel-fade .carousel-control-prev {
    position: relative;
    top: -50px;
    left: 350px;
  }
  .container6 .carousel-fade .carousel-control-next {
    position: relative;
    top: -110px;
    left: 450px;
  }
  .container8 .karta {
    margin-top: 0px;
    margin-bottom: 40pxpx;
  }
}
@media (max-width: 576px) {
  .container1 .title h2 {
    font-size: 25px;
  }
  .container1 .title .image1 img {
    display: none;
  }
  .container1 .button {
    margin-top: -50px;
  }
  .container2 .subtitle2 h2 {
    font-size: 20px;
  }
  .container2 .subtitle2 p {
    font-size: 13px;
  }
  .container2 .carousel {
    padding-top: 50px;
    padding-left: 25%;
  }
  .container2 .carousel .carousel-indicators li {
    position: relative;
    top: -40px;
    left: 30%;
  }
  .container2 .content1 {
    padding-top: 20px;
    margin: 0 auto;
  }
  .container2 .content1 h3 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .container2 .content1 p {
    font-size: 12px;
    padding-bottom: 30px;
  }
  .container2 .content1 h4 {
    padding-bottom: 30px;
    font-size: 13px;
  }
  .container3 .subtitle3 h2 {
    font-size: 22px;
  }
  .container3 .subtitle3 p {
    font-size: 15px;
  }
  .container3 .image2 {
    text-align: center;
  }
  .container4 .subtitle4 h3 {
    font-size: 20px;
  }
  .container4 .subtitle4 h4 {
    font-size: 15px;
  }
  .container4 .boss .cart .krest {
    padding-top: 10px;
  }
  .container4 .boss #card1,
  .container4 .boss #card2,
  .container4 .boss #card3,
  .container4 .boss #card4,
  .container4 .boss #card5,
  .container4 .boss #card6 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .container4 .boss #card1:hover,
  .container4 .boss #card2:hover,
  .container4 .boss #card3:hover,
  .container4 .boss #card4:hover,
  .container4 .boss #card5:hover,
  .container4 .boss #card6:hover {
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
  }
  .container4 .boss #card5:hover .krest,
  .container4 .boss #card6:hover .krest {
    padding-top: 10px;
  }
  .container5 .big_block {
    margin-left: 8%;
  }
  .container5 .big_block .big_block1,
  .container5 .big_block .big_block2,
  .container5 .big_block .big_block3,
  .container5 .big_block .big_block4,
  .container5 .big_block .big_block5,
  .container5 .big_block .big_block6 {
    width: 100%;
    height: 400px;
    margin: 0px 10px 10px 0px;
  }
  .container5 #big_block {
    width: 240px;
    padding-left: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 130px;
  }
  .container6 .carousel .carousel-inner .carousel-item {
    padding-bottom: 100px;
  }
  .container6 .carousel .carousel-indicators li {
    position: relative;
    top: -30px;
    left: 70%;
  }
  .container6 .carousel-fade {
    margin-bottom: 200px;
    max-height: 220px;
  }
  .container6 .carousel-fade .carousel-item {
    text-align: center;
  }
  .container6 .carousel-fade .carousel-item h3 {
    padding-top: 20px;
    font-size: 14px;
  }
  .container6 .carousel-fade .carousel-item h3 span {
    font-size: 12px;
  }
  .container6 .carousel-fade .carousel-item p {
    padding-top: 15px;
    font-size: 12px;
  }
  .container6 .carousel-fade .carousel-control-prev {
    position: relative;
    top: -50px;
    left: 20px;
    padding: 5px;
  }
  .container6 .carousel-fade .carousel-control-next {
    position: relative;
    top: -80px;
    left: 100px;
    padding: 5px;
  }
  .container7 .lain1 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .container7 .lain1 div {
    padding-right: 45px;
  }
  .container7 .lain1 div img {
    padding-top: 20px;
    width: 100px;
    height: 65px;
  }
}
@media (max-width: 520px) {
  .container5 #big_block {
    width: 200px;
    padding-left: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 130px;
  }
  .container7 .lain1 {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 15%;
  }
}
@media (max-width: 440px) {
  .container6 .carousel .carousel-inner .carousel-item {
    padding-bottom: 100px;
  }
  .container6 .carousel-fade {
    margin-bottom: 100px;
    max-height: 220px;
  }
  .container6 .carousel-fade .carousel-control-prev {
    position: relative;
    top: -50px;
    left: 20px;
    padding: 5px;
  }
  .container6 .carousel-fade .carousel-control-next {
    position: relative;
    top: -80px;
    left: 100px;
    padding: 5px;
  }
}
@media (max-width: 425px) {
  .container6 .carousel-fade {
    margin-bottom: 100px;
    max-height: 240px;
  }
  .container6 .carousel-fade .carousel-control-prev {
    position: relative;
    top: -70px;
    left: 20px;
    padding: 5px;
  }
  .container6 .carousel-fade .carousel-control-next {
    position: relative;
    top: -100px;
    left: 100px;
    padding: 5px;
  }
}
@media (max-width: 376px) {
  .container1 .title h2 {
    font-size: 20px;
  }
  .container5 #big_block {
    width: 180px;
    padding-left: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 130px;
  }
  .container5 #big_block h3 {
    padding-top: 30px;
    font-size: 15px;
  }
  .container5 #big_block h3 span {
    font-size: 12px;
  }
  .container5 #big_block p {
    padding-top: 10px;
    font-size: 12px;
  }
  .container5 #big_block ul {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .container5 #big_block ul li {
    display: inline-block;
    font-size: 10px;
    padding-right: 8px;
  }
  .container7 .lain1 {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 15%;
  }
  .container7 .lain1 div {
    padding-right: 45px;
    display: none;
  }
  .container7 .lain1 div img {
    padding-top: 20px;
    width: 140pxx;
    height: 95px;
  }
  .container7 .lain1 div:nth-child(1) {
    display: inline;
  }
  .container8 .message .knopka {
    padding-top: 40px;
  }
  .container8 .message .knopka a {
    padding: 10px 20px;
    background-color: #6eeee4;
    font-size: 15px;
  }
}
